# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
*.egg-info/
*.egg

# Unit test / coverage reports
.tox/
.coverage
.cache

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

.idea
.DS_Store

*.swp
Pipfile.lock
