[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
platformdirs = "*"
typing-extensions = "*"
pytest = "*"
yapf = "*"
pylint = "*"
napalm-ros = {editable = true, path = "."}

[packages]
napalm-ros = {editable = true, path = "."}
napalm = ">=3.*"

[requires]
python_version = "3"
