[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
napalm-ros = {editable = true,path = "."}
pytest = "*"
pylama = "*"
yapf = "*"
bumpversion = "*"
mock = "*"
pylint = "*"

[requires]
python_version = "3.7"
