name: CI

on:
  - push
  - pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        napalm_version:
          - "3.*"
          - "4.*"
        python_version:
          - "3.6"
          - "3.7"
          - "3.8"
        exclude:
          - napalm_version: "4.*"
            python_version: "3.6"
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python_version }}
        id: setup-python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python_version }}

      - name: Install pipenv
        run: pip install pipenv

      - uses: actions/cache@v2
        id: cache
        with:
          path: ~/.local/share/virtualenvs
          key: ${{ runner.os }}-python-${{ matrix.python_version }}-${{ matrix.napalm_version }}-pipenv-${{ hashFiles('Pipfile.lock') }}

      - name: Install requirements
        if: steps.cache.outputs.cache-hit != 'true'
        run: pipenv install --python ${{ matrix.python_version }} --dev

      - name: Python python-version
        run: pipenv run python --version

      - name: List pip packages
        run: pipenv run pip list

      - name: Install napalm
        run: pipenv run pip install napalm==${{ matrix.napalm_version }}

      # For some strange reason, pipenv doesn't install this package
      - name: Hack install dependencies
        run: pipenv run pip install platformdirs typing_extensions importlib-metadata

      - name: Lint
        run: pipenv run pylint napalm_ros

      - name: Format
        run: >
          pipenv run yapf -dr
          napalm_ros
          tests

      - name: Unit tests
        run: pipenv run pytest tests

      - name: Package
        run: pipenv run python setup.py sdist

      - name: Publish package
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags') && matrix.python_version == '3.7' && matrix.napalm_version == '4.*'
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.pypi_password }}
